/* body {
    background: #320404;
    font-family: Arial;
}

.container {
    width: 620px;
    margin: 200px auto;
    padding: 25px;
    background: #df9393;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 10px #fc0d0d;
}

.hidden {
    display: none;
}

button {
    width: 90%;
    padding: 10px;
    margin: 7px 0;
    background: #060708;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #50565e;
}

input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 7px;
} */



body {
   background: #320404;
    font-family: Arial;
}

.container {
    width: 620px;
    margin: 200px auto;
    padding: 25px;
    background: #df9393;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 10px #fc0d0d;
}

.hidden {
    display: none;
}

button {
    width: 90%;
    padding: 10px;
    margin: 7px 0;
    background: #060708;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #50565e;
}

input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 7px;
}
